.navbar-default  {
background-color: #008080;
border-color: #9400D3;
border-radius: 23;

}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
   color:#0000CD;
}

.navbar-default .navbar-nav>li>a{
  color: #FF1493;
}
.navbar-default .navbar-nav>li>a:focus{
     background-color: #ADFF2F;
}

.navbar-default.navbar-nav.active>a:hover,
.navbar-default.navbar-nav.active>a:focus
{
  color: #00FFFF;
  background-color: ##00008B;
}
.navbar-default.navbar-text {

  color:#000000;
}
.navbar-default.navbar-toggle {

border-color:#800000;

}
.navbar-default.navbar-toggle:hover,
.navbar-default.navbar-toggle:focus {

  border-color:#800000;
}
